
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <button onclick="vm.openForm()">Open Form</button>
      <h1>{{ 'Nilai a : ' + hitungRataRata }}</h1>
      <h1>{{ 'jmlah : ' + jml }}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        sum : 0,
        a : 0,
        jml : 0,
      },
      computed : {
          hitungRataRata : function () {
            this.sum += parseInt(this.a);
            
            if (this.sum >= 10) {
                return this.sum / this.jml
            } 
            else if (this.sum != 0 && this.sum < 10) {
                this.openForm();
            }

            console.log(this.sum);
            
            return parseInt(this.a);
            
          },
      },
      methods : {
        openForm : function () {
            this.a = prompt("masukan nilai a");
            this.jml++;
        },
      }
  })
  </script>
</body>
</html>